html
  head
    title Express
  body
    h1 Add     
    form(method="post", action="/cliente/add")
      table
        tr
          th Cedula
          td 
            input(type="text", name="cedula")
        tr  
          th Nombre
          td 
            input(type="text", name="nombre")           
        tr  
          th Apellido
          td 
            input(type="text", name="apellido")
        tr  
          th Edad
          td 
            input(type="text", name="edad")
        tr
          th
          td 
            input(type="submit", value="Save")    